# Standard Normal Distribution - Lab

## Introduction

In the previous lesson, we looked at the formula and a few toy examples to explain an observation's standard score and data standardization for normally distributed data. This lab, will shall standardize and visualize some normal distributions before we see standardization's real impact in machine learning in upcoming lessons. 

## Objectives

You will be able to:

* Calculate and interpret z-scores for observations
* Visualize the data before-after standardization to visually inspect the results. 

## Let's get started

> A Z-score tells us “how many standard deviations above or below the mean.” Every time you obtain a Z-score, use “above” or “below” in your phrasing.

The yields of apples trees in an orchard has been recorded in the file `yield.csv`. Each observation is recorded by weighing apples from trees (in pounds) and adding their weights. There are 5000 observations in total for this data. 

**1. Load, visualize and give general comments on the dataset. Use pandas for loading and inspecting the data.**

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read the yield data as a dataframe
data = pd.read_csv('yield.csv')
df = pd.DataFrame(data)
df.describe()

                 0
count  5000.000000
mean     42.407624
std       6.003697
min      21.931212
25%      38.371895
50%      42.352304
75%      46.458478
max      65.548170

In [35]:
# Your comments about the data here. 
#There are 5k obvservations, with a mean of 42.4, a std of 6 a min of 21.9, a max of 65.5

**2. Write a simple sentence to explain what does each value represent in this data?**

In [11]:
# Your answer here
#Total weight of apples gathered from one tree
df.head()

           0
0  39.741234
1  39.872055
2  44.331164
3  46.600623
4  40.694984

**3. What does the 3-sigma rule say about yields of trees ?**

In [1]:
# Perform any calculations necessary here
#99.7% of the trees' yield will be within 3 STD of the mean

In [23]:
# Write your answer here

**4. Compute the Z-score for a tree yielding 35 pounds of apples. Interpret this Z-score.**

In [8]:
# Calculate z
actual = 35
mean = np.mean(df)
std = np.std(df)

z = (actual - mean) / std
z

0   -1.233967
dtype: float64

In [3]:
# Interpret the result
#Tree yielded 1.23 standard deviatons below the mean

**5. Suppose a tree has a Z-score of 1.85. Interpret this Z-score. What is the yield of this tree?**

In [9]:
# Interpret the z score
z = 1.85

actual = (std * z) + mean
actual

0    53.513352
dtype: float64

In [5]:
# Calculate yield

In [6]:
# What is the yield ?

**6. Convert each tree’s yield is converted to a Z-score so that “new” derived variable is “Z-score for weight”. The units are still the apple trees. For the data set of all Z-scores:**
* What is the shape? 
* The mean? 
* The standard deviation?

In [18]:
# Give your solution here 
df['z_score_for_weight'] = (df['0'] - np.mean(df['0'])) / np.std(df['0'])
print(round(df['z_score_for_weight'].mean(), 4))
#df['z_score_for_weight'].std()

0.0

In [ ]:
# Your observations

## Summary 

In this lab, you practiced your knowledge on the standard normal distribution!